@using HerokuApp

@{
    ViewData["Title"] = $"{ViewData["ChannelName"]} - commands";
}

<h2>Channel commands of <a target="_blank" href="https://www.twitch.tv/@ViewData["ChannelName"]">@ViewData["ChannelName"]</a></h2>

<div id="commands-block">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Command</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<Command>)ViewData["CommandsInfo"])
            {
                if (item.Names == null || item.Names.Count == 0) continue;
                var description = item.Description ?? item.Answer["ru"];
                <tr>
                    <td>!@item.Names.First()</td>
                    <td>@description</td>
                </tr>
                }
            </tbody>
    </table>
</div>